.long > input {
  width: 100%;
}

.hide {
  display: none;
}

.full {
  max-width: 100%;
}

.nolink {
  text-decoration: none;
  color: black;
}

md-list-item.no-padding {
  padding: 0px;
}

.nopadding md-input-container {
  padding: 2px 2px 2px;
}

.nopadding md-select-label {
  padding: 2px 2px 2px;
}

.nomarginright {
  margin-right: 0px;
}

.nomarginleft {
  margin-left: 0px;
}

md-content.prime, div.prime {
  background: rgb(231,144,15);
  background-image: linear-gradient(90deg, hsla(255,100%,100%,.07) 50%, transparent 50%),
    linear-gradient(90deg, hsla(255,100%,100%,.17) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.21) 50%);
  background-size: 17px, 37px, 53px;
}
