div(layout="column")
  div(layout-padding)
    h2 Merci de déposer {{montant}}€ dans la caisse.
    h3 Vous allez être déconnecté dans {{secondes}} secondes.

  md-button.md-raised(flex, ui-sref="login") Quitter
