section(layout="column", layout-fill, flex,  md-theme="{{ lieu }}")
  md-toolbar
    .md-toolbar-tools
      span(flex)
      h2 Anonyme
      span(flex)
      md-button.md-icon-button(aria-label="loggout", ui-sref="login")
        md-icon(md-svg-src="css/icons/ic_exit_to_app_24px.svg")
  md-content(ui-view, layout="column", flex)
