md-input-container
  label "Ma recherche"
  input(ng-model="search", ng-model-options="{ debounce: 500 }")

md-data-table-container
  table(md-data-table md-progress="deferred")
    thead(md-order="query.order" md-trigger="onOrderChange")
      tr
        th(name="Login" order-by="login")
        th(name="Nom" order-by="nom")
        th(name="Prenom" order-by="prenom")
        th(numeric name="Montant" order-by="montant")
    tbody
      tr(md-auto-select ng-repeat="user in users track by user.login" ui-sref="logged.rf.userDetail({login:user.login})")
        td {{user.login}}
        td {{user.nom}}
        td {{user.prenom}}
        td {{user.montant}}

md-data-table-pagination(md-label="label" md-row-select="['10', '25', '50']" md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-trigger="onPaginationChange")
