md-input-container
  label "Ma recherche"
  input(ng-model="search", ng-model-options="{ debounce: 500 }")

md-list
  md-list-item.md-3-line(ng-repeat="result in results")
    a.nolink.md-list-item-text(ui-sref="logged.rf.userDetail({login:result.login})")
      h3 {{result.nom}} {{result.prenom}}
      h4 {{result.montant}}
      p {{result.others}}
