div(layout-align="center center")
  md-button.md-icon-button(ui-sref="logged.rf.user", aria-label="search - rf")
    md-icon(md-svg-src="css/icons/ic_search_24px.svg")
  md-button.md-icon-button(ui-sref="logged.rf.consommation", aria-label="mes consommations - rf")
    md-icon(md-svg-src="css/icons/ic_list_24px.svg")
