h2 Dubois Damien
md-list
  md-item
    md-item-content
      .md-tile-left
        .icon-communication-black.icon-communication-black-ic_phone_black_24dp
      .md-tile-content
        h3 09 03 04 03 04
  md-item
    md-item-content
      .md-tile-left
        .icon-social-black.icon-social-black-ic_cake_black_24dp
      .md-tile-content
        h3 le 31 septembre 2014 à Paris
  md-item
    md-item-content
      .md-tile-left
        .icon-communication-black.icon-communication-black-ic_email_black_24dp
      .md-tile-content
        h3 trololo@exemple.com
  md-item
    md-item-content
      .md-tile-left
        .icon-maps-black.icon-maps-black-ic_place_black_24dp
      .md-tile-content
        h3(layout="column")
        | 123 Rue de France <br/>
        | 01000 Trolololo les bains <br/>
        | France <br/>
