section(layout="column", layout-fill, flex)
  md-toolbar
    div.md-toolbar-tools
      md-button.md-icon-button(ui-sref="logged.accueil", aria-label="home")
        md-icon(md-svg-src="css/icons/ic_home_24px.svg")
      md-button.md-icon-button(ng-click="back()", aria-label="back menu", ng-if="backButton()")
        md-icon(md-svg-src="css/icons/ic_arrow_back_24px.svg")
      h2 {{getTitle()}}
      span(flex)
      div(ng-if="userService.user.roles.indexOf('rf') !== -1", layout="row")
        md-button.md-icon-button(ui-sref="logged.rf.user", aria-label="search - rf")
          md-icon(md-svg-src="css/icons/ic_search_24px.svg")
        md-button.md-icon-button(ui-sref="logged.rf.consommation", aria-label="mes consommations - rf")
          md-icon(md-svg-src="css/icons/ic_list_24px.svg")
      md-button.md-icon-button(aria-label="mes consommations", ui-sref="logged.consommation")
        md-icon(md-svg-src="css/icons/ic_history_24px.svg")
      md-button.md-icon-button(aria-label="loggout", ng-click="signOut()")
        md-icon(md-svg-src="css/icons/ic_exit_to_app_24px.svg")
  md-content(ui-view, layout="column", flex)
