section(layout="column", layout-fill)
  md-toolbar
    h2.md-toolbar-tools
      md-button(ng-click="toggleSideNav()", aria-label="toogle menu")
        .icon-navigation-black.icon-navigation-black-ic_menu_black_24dp
      span(flex) {{getTitle()}}
  div(layout="row", layout-fill)
    md-sidenav.md-sidenav-left.md-whiteframe-z3(md-component-id="left")
      include sidebar.jade
    md-content(ui-view, layout-fill)
