table
  tr
    th Date
    th Nombre
    th Consos
    th Utilisateur
  tr(ng-repeat="conso in consommations")
    td {{conso.date | amDateFormat:'h:mm:ss DD/MM/YY'}}
    td {{conso.quantity}}
    td {{conso.consommable}}
    td {{conso.user || "Anonyme"}}
