md-list
  md-list-item
    md-icon(md-svg-icon="css/icons/ic_perm_identity_24px.svg")
    p {{personne.nom}} {{personne.prenom}}
  md-list-item
    md-icon(md-svg-icon="css/icons/ic_email_24px.svg")
    p {{personne.mail}}
  md-list-item
    md-icon(md-svg-icon="css/icons/ic_attach_money_24px.svg")
    p {{personne.montant}}
