form(name="createUserForm", ng-submit="onFormSubmit()", novalidate="" layout="column" flex)
  md-input-container
    label Prénom
    input(ng-model="user.prenom", name="prenom", required)
  md-input-container
    label Nom
    input(ng-model="user.nom", name="nom", required)
  md-input-container
    label Login
    input(ng-model="user.login", maxlength="15", name="login", required)
  md-input-container
    label Email
    input(ng-model="user.email", type="email", name="email", required)
  md-input-container
    label Mot de passe
    input(ng-model="user.password", type="password", name="password", required)
  md-input-container
    label Promo
    input(ng-model="user.promo", type="number", name="promo", required)
  md-select(ng-model="user.departement" flex required)
    md-select-label(flex) Département
    md-option(ng-repeat="dep in departements" flex) {{dep}}
  md-input-container
    label Créditer de
    input(ng-model="user.credit", type="number", name="credit" min="1", required)
  div(flex)
  div(layout="row")
    md-button.nomarginright.nomarginleft.md-raised.md-primary(type="submit", ng-disabled="createUserForm.$invalid", flex) Créer
