h2 {{personne.nom}} {{personne.prenom}}
md-list
  md-item
    md-item-content
      .md-tile-left
        .icon-communication-black.icon-communication-black-ic_email_black_24dp
      .md-tile-content
        h3 {{personne.mail}}
