div(layout="column")
  div(layout-padding)
    h2 Votre paiement a été accepté. Votre nouveau solde est de {{solde}}€.
    h3 Vous allez être déconnecté dans {{secondes}} secondes.

  md-button.md-raised.md-primary(flex) Je veux rester !
  md-button.md-raised(flex) Quitter
