section
  md-toolbar
    h2.md-toolbar-tools
      md-button(ng-click="toggleSideNav()", aria-label="toogle menu")
        .icon-navigation-black.icon-navigation-black-ic_arrow_back_black_24dp
      p @{{userService.name}}
  md-content(layout="column")
    md-button(ui-sref="logged.accueil", ui-sref-active="md-primary") Accueil
    div(ng-if="userService.user.roles.indexOf('rf') !== -1", layout="column")
      md-divider
      md-button(ui-sref="logged.rf.user", ui-sref-active="md-primary") Search
      md-button(ui-sref="logged.rf.consommation", ui-sref-active="md-primary") Consommation
    md-divider
    md-button(ng-click="signOut()") Déconnexion
